{% extends "base.html" %}
{% block main %}
<main class="container mt-3">
	{% for key,value in departures.items() %}
	{% if id == key %}
	<h1 class="display-5 mt-4">{{ value }}</h1>
	{% endif %}
	{% endfor %}

	{% set t = tours.values() | selectattr('departure', '==', id) | list %}

	{% set tot_tours = t | length %}

	{% set min_price = tours.values() | map(attribute='price') | min %}
	{% set max_price = tours.values() | map(attribute='price') | max %}
	{% set min_nights = tours.values() | map(attribute='nights') | min %}
	{% set max_nights = tours.values() | map(attribute='nights') | max %}

	{# note: commented-out because we no longer use this

    {{ tours.values() | map(attribute='price') | min }}
    {{ tours.values() | map(attribute='price') | max }}

    {{ tours.values() | map(attribute='nights') | min }}
    {{ tours.values() | map(attribute='nights') | max }}
#}

	<p class="mb-4">Найдено {{ tot_tours }} туров, от {{ min_price }} до {{ max_price }} и от {{ min_nights }} ночей до
		{{ max_nights }} ночей</p>

	<div class="row mt-5">
		{% for tour in t %}
		<div class="col-4">
			<div class="card mb-4">
				<img src={{ tour.picture }} class="card-img-top img-fluid" alt="">
				<div class="card-body">
					<h2 class="h5 card-title">{{ tour.title }}</h2>
					<p class="card-text">{{ tour.description }}</p>
					<a href="/#" class="btn btn-sm btn-primary">Подробнее</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</main>
{% endblock %}
