{% extends "base.html" %}
{% block main %}
<main class="container mt-3">
	<!-- jumbotron -->
	<section class="jumbotron text-center mt-4">
		<h1 class="display-4">{{ title }}</h1>
		<p class="lead">{{ subtitle }}</p>
		<p class="mt-5 w-50 mx-auto">{{ description }}</p>
	</section>
	<!-- Tour cards -->
	<div class="row mt-5">
		{% for tour_id,tour_data in tours.items() %}
		{% if tour_id <= 6 %}
		<div class="col-4">
			<div class="card mb-4">
				<img src={{ tour_data.picture }} class="card-img-top img-fluid" alt="">
				<div class="card-body">
					<h2 class="h5 card-title">{{ tour_data.title }}</h2>
					<p class="card-text">{{ tour_data.description|truncate(100) }}</p>
					<a href="/tour/{{ tour_id }}/" class="btn btn-sm btn-primary">Подробнее</a>
				</div>
			</div>
		</div>
		{% endif %}
		{% endfor %}
	</div>
</main>
{% endblock %}
