{% extends "base.html" %}
{% block main %}
<main class="container">
	{% for tour_id,tour_data in tours.items() %}
	{% if id == tour_id %}
	<section class="mt-3 pb-5">
		<h1 class="display-3 mt-4">{{ tour_data.title }} {{ tour_data.stars }} ★</h1>
		<!-- HERO -->
		<p class="lead">{{ tour_data.country }} {{ tour_data.nights }} ночей</p>
		<img src="{{ tour_data.picture }}" class="w-75" alt="">
		<p class="my-4 w-75">{{ tour_data.description }}</p>
		<a href="#" class="btn btn-success btn-lg">Купить тур за {{ tour_data.price }}</a>
	</section>
	{% endif %}
	{% endfor %}
</main>
{% endblock %}
